.authentication-container-wrapper {
    width: 1000px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.sign-in-card-wrapper {
    display: inline-block;
    background-color: #3498DB;
    width: 400px;
    height: 500px;
}

.sign-up-card-wrapper {
    display: inline-block;
    background-color: #27AE60;
    width: 600px;
    height: 500px;
}

h3 {
    text-align: center
}

label {
    display: block;
}